[submodule "rtl/tg68k"]
	path = rtl/tg68k
	url = https://github.com/TobiFlex/TG68K.C.git
[submodule "EightThirtyTwo"]
	path = EightThirtyTwo
	url = https://github.com/robinsonb5/EightThirtyTwo
[submodule "Minimig_Firmware"]
	path = Minimig_Firmware
	url = https://github.com/robinsonb5/Minimig_Firmware.git
